-- MariaDB dump 10.19  Distrib 10.4.24-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: db_flashbot
-- ------------------------------------------------------
-- Server version	10.4.24-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chatbot_devices`
--

DROP TABLE IF EXISTS `chatbot_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_devices` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nama_device` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `session_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('connected','disconnected','qr') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'disconnected',
  `pesan_sapaan` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `menu_type` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'text',
  `is_default` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `chatbot_devices_session_id_unique` (`session_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_devices`
--

LOCK TABLES `chatbot_devices` WRITE;
/*!40000 ALTER TABLE `chatbot_devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatbot_menu`
--

DROP TABLE IF EXISTS `chatbot_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_menu` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `parent_kode` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `judul` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Judul menu',
  `isi` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Isi balasan menu',
  `tipe_pesan` enum('text','button','list') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'text',
  `pilihan_interaktif` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`pilihan_interaktif`)),
  `media_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'URL media untuk balasan menu',
  `media_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Tipe media untuk balasan menu',
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `urutan` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `device_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `chatbot_menu_device_kode_unique` (`device_id`,`kode`),
  CONSTRAINT `chatbot_menu_device_id_foreign` FOREIGN KEY (`device_id`) REFERENCES `chatbot_devices` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_menu`
--

LOCK TABLES `chatbot_menu` WRITE;
/*!40000 ALTER TABLE `chatbot_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatbot_order_sessions`
--

DROP TABLE IF EXISTS `chatbot_order_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_order_sessions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nomor_wa` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `langkah` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pilih_produk',
  `produk_id` bigint(20) unsigned DEFAULT NULL,
  `produk_varian_id` bigint(20) unsigned DEFAULT NULL,
  `tanggal_diambil` date DEFAULT NULL,
  `jumlah` int(11) NOT NULL DEFAULT 0,
  `nama_penerima` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat_penerima` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipe_pengiriman` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metode_pembayaran` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `chatbot_order_sessions_nomor_wa_unique` (`nomor_wa`),
  KEY `chatbot_order_sessions_produk_id_foreign` (`produk_id`),
  KEY `chatbot_order_sessions_produk_varian_id_foreign` (`produk_varian_id`),
  CONSTRAINT `chatbot_order_sessions_produk_id_foreign` FOREIGN KEY (`produk_id`) REFERENCES `produks` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chatbot_order_sessions_produk_varian_id_foreign` FOREIGN KEY (`produk_varian_id`) REFERENCES `produk_varians` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_order_sessions`
--

LOCK TABLES `chatbot_order_sessions` WRITE;
/*!40000 ALTER TABLE `chatbot_order_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_order_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatbot_pesan`
--

DROP TABLE IF EXISTS `chatbot_pesan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_pesan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nomor` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor WA user',
  `arah` enum('masuk','keluar') COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'masuk=dari user, keluar=dari bot',
  `isi` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Isi pesan',
  `media_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'URL media atau gambar',
  `media_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Tipe media: image, document, dll',
  `waktu` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `chatbot_pesan_nomor_index` (`nomor`),
  KEY `chatbot_pesan_waktu_index` (`waktu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_pesan`
--

LOCK TABLES `chatbot_pesan` WRITE;
/*!40000 ALTER TABLE `chatbot_pesan` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_pesan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chatbot_users`
--

DROP TABLE IF EXISTS `chatbot_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chatbot_users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nomor` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor WA user',
  `nama` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nama user',
  `langkah` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menu' COMMENT 'Sesi terakhir',
  `pertama_chat` timestamp NOT NULL DEFAULT current_timestamp(),
  `terakhir_chat` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `chatbot_users_nomor_unique` (`nomor`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chatbot_users`
--

LOCK TABLES `chatbot_users` WRITE;
/*!40000 ALTER TABLE `chatbot_users` DISABLE KEYS */;
/*!40000 ALTER TABLE `chatbot_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grup_admin`
--

DROP TABLE IF EXISTS `grup_admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grup_admin` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `grup_id` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ID grup WA',
  `nomor_admin` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor WA admin',
  `nama_admin` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nama admin',
  `ditambahkan_oleh` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nomor yang menambahkan',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `grup_admin_grup_id_nomor_admin_unique` (`grup_id`,`nomor_admin`),
  KEY `grup_admin_grup_id_index` (`grup_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grup_admin`
--

LOCK TABLES `grup_admin` WRITE;
/*!40000 ALTER TABLE `grup_admin` DISABLE KEYS */;
/*!40000 ALTER TABLE `grup_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grup_auto_replies`
--

DROP TABLE IF EXISTS `grup_auto_replies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grup_auto_replies` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `grup_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keyword` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `balasan` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_exact_match` tinyint(1) NOT NULL DEFAULT 1,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `grup_auto_replies_grup_id_index` (`grup_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grup_auto_replies`
--

LOCK TABLES `grup_auto_replies` WRITE;
/*!40000 ALTER TABLE `grup_auto_replies` DISABLE KEYS */;
/*!40000 ALTER TABLE `grup_auto_replies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grup_catatan`
--

DROP TABLE IF EXISTS `grup_catatan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grup_catatan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `grup_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ID grup WA',
  `disimpan_oleh` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor yang menyimpan',
  `isi` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Isi catatan',
  `tag` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Tag/kategori catatan',
  `waktu` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `grup_catatan_grup_id_index` (`grup_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grup_catatan`
--

LOCK TABLES `grup_catatan` WRITE;
/*!40000 ALTER TABLE `grup_catatan` DISABLE KEYS */;
/*!40000 ALTER TABLE `grup_catatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grup_pengingat`
--

DROP TABLE IF EXISTS `grup_pengingat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grup_pengingat` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `grup_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ID grup WA',
  `dibuat_oleh` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor yang membuat reminder',
  `pesan` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Isi pengingat',
  `waktu_ingatkan` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Kapan bot harus mengingatkan',
  `sudah_dikirim` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `grup_pengingat_waktu_ingatkan_index` (`waktu_ingatkan`),
  KEY `grup_pengingat_sudah_dikirim_index` (`sudah_dikirim`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grup_pengingat`
--

LOCK TABLES `grup_pengingat` WRITE;
/*!40000 ALTER TABLE `grup_pengingat` DISABLE KEYS */;
/*!40000 ALTER TABLE `grup_pengingat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grup_pesan`
--

DROP TABLE IF EXISTS `grup_pesan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grup_pesan` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `grup_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ID grup WA',
  `grup_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nama grup',
  `pengirim` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor pengirim',
  `nama_pengirim` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Nama pengirim',
  `pesan` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Isi pesan',
  `waktu` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `grup_pesan_grup_id_index` (`grup_id`),
  KEY `grup_pesan_pengirim_index` (`pengirim`),
  KEY `grup_pesan_waktu_index` (`waktu`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grup_pesan`
--

LOCK TABLES `grup_pesan` WRITE;
/*!40000 ALTER TABLE `grup_pesan` DISABLE KEYS */;
/*!40000 ALTER TABLE `grup_pesan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grup_settings`
--

DROP TABLE IF EXISTS `grup_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grup_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `grup_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kunci` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nilai` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `grup_settings_grup_id_kunci_unique` (`grup_id`,`kunci`),
  KEY `grup_settings_grup_id_index` (`grup_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grup_settings`
--

LOCK TABLES `grup_settings` WRITE;
/*!40000 ALTER TABLE `grup_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `grup_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  KEY `password_resets_email_index` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesanan_items`
--

DROP TABLE IF EXISTS `pesanan_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pesanan_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pesanan_id` bigint(20) unsigned NOT NULL,
  `produk_id` bigint(20) unsigned NOT NULL,
  `produk_varian_id` bigint(20) unsigned DEFAULT NULL,
  `jumlah` int(11) NOT NULL,
  `harga_satuan` decimal(12,2) NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pesanan_items_pesanan_id_foreign` (`pesanan_id`),
  KEY `pesanan_items_produk_id_foreign` (`produk_id`),
  KEY `pesanan_items_produk_varian_id_foreign` (`produk_varian_id`),
  CONSTRAINT `pesanan_items_pesanan_id_foreign` FOREIGN KEY (`pesanan_id`) REFERENCES `pesanans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pesanan_items_produk_id_foreign` FOREIGN KEY (`produk_id`) REFERENCES `produks` (`id`),
  CONSTRAINT `pesanan_items_produk_varian_id_foreign` FOREIGN KEY (`produk_varian_id`) REFERENCES `produk_varians` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesanan_items`
--

LOCK TABLES `pesanan_items` WRITE;
/*!40000 ALTER TABLE `pesanan_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesanan_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesanans`
--

DROP TABLE IF EXISTS `pesanans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pesanans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nomor_order` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nomor_wa` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nama_penerima` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat_penerima` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipe_pengiriman` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'diantar',
  `biaya_barang` decimal(12,2) NOT NULL DEFAULT 0.00,
  `biaya_pengantaran` decimal(12,2) NOT NULL DEFAULT 0.00,
  `total_biaya` decimal(12,2) NOT NULL DEFAULT 0.00,
  `uang_muka` decimal(12,2) NOT NULL DEFAULT 0.00,
  `metode_pembayaran` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_diambil` date DEFAULT NULL,
  `status` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending_ongkir',
  `source` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'whatsapp',
  `bukti_pembayaran` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pesanans_nomor_order_unique` (`nomor_order`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesanans`
--

LOCK TABLES `pesanans` WRITE;
/*!40000 ALTER TABLE `pesanans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesanans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produk_varians`
--

DROP TABLE IF EXISTS `produk_varians`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produk_varians` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `produk_id` bigint(20) unsigned NOT NULL,
  `nama_varian` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `foto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stok` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `produk_varians_produk_id_foreign` (`produk_id`),
  CONSTRAINT `produk_varians_produk_id_foreign` FOREIGN KEY (`produk_id`) REFERENCES `produks` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produk_varians`
--

LOCK TABLES `produk_varians` WRITE;
/*!40000 ALTER TABLE `produk_varians` DISABLE KEYS */;
/*!40000 ALTER TABLE `produk_varians` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produks`
--

DROP TABLE IF EXISTS `produks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produks` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `kode` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Kode unik barang, misal: BRG001',
  `nama` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `harga` decimal(12,2) NOT NULL,
  `foto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stok` int(11) NOT NULL DEFAULT 0,
  `deskripsi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `size_chart` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `aktif` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `produks_kode_unique` (`kode`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produks`
--

LOCK TABLES `produks` WRITE;
/*!40000 ALTER TABLE `produks` DISABLE KEYS */;
/*!40000 ALTER TABLE `produks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'admin',
  `device_id` bigint(20) unsigned DEFAULT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_device_id_foreign` (`device_id`),
  CONSTRAINT `users_device_id_foreign` FOREIGN KEY (`device_id`) REFERENCES `chatbot_devices` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrator Chatbot','admin@example.com',NULL,'$2y$10$7LL0YO6XqKZE/qKG3t3Nuu5IPXSY7iUUJAEmY.oiobUhvon/YhE9O','admin',NULL,NULL,'2026-06-04 15:24:08','2026-06-04 15:24:08');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05  8:07:27
